html, body, #map {
        height: 94%;
        margin: 0;
        padding: 0;
}

#distanceList {
        height: auto;
        margin-top: 0px;
        padding-top: 0px;
        font-family: 'Trebuchet MS', Helvetica, sans-serif;
        background-color: #EEEEEE;
}
